<div class="ds_accordion" data-module="ds-accordion">
    <button data-accordion="accordion-open-all" type="button" class="ds_link  ds_accordion__open-all  js-open-all">Open all <span class="visually-hidden">sections</span></button>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-property" aria-labelledby="panel-property-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-property-heading" class="ds_accordion-item__title">
                Property
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-property"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-property">
            <table class="summary-table">
                <tbody>
                    <tr data-summary-field="property-postcode-search property-postcode-results">
                        <th>Property Address</th>
                        <td>
                            <a name="property-postcode-search"></a>
                            <div class="hide-if-empty"><a href="#!/address/address/property-address-building/" class="summary__link  summary__user-input">{{address.building}}</a></div>
                            <div class="hide-if-empty"><a href="#!/address/address/property-address-street/" class="summary__link  summary__user-input">{{address.street}}</a></div>
                            <div class="hide-if-empty"><a href="#!/address/address/property-address-town/" class="summary__link  summary__user-input">{{address.town}}</a></div>
                            <div class="hide-if-empty"><a href="#!/address/address/property-address-region/" class="summary__link  summary__user-input">{{address.region}}</a></div>
                            <div class="hide-if-empty"><a href="#!/address/address/property-postcode/" class="summary__link  summary__user-input">{{address.postcode}}</a></div>
                        </td>
                        <td class="summary-table__edit"><a href="#!/address/property-address/" class="edit">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>




    {{#compare hasLandlordsAgent 'yes'}}
        <div class="ds_accordion-item">

            <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-agent" aria-labelledby="panel-agent-heading" />
            <div class="ds_accordion-item__header">
                <h3 id="panel-agent-heading" class="ds_accordion-item__title">
                    Letting agent
                </h3>
                <span class="ds_accordion-item__indicator"></span>
                <label class="ds_accordion-item__label" for="panel-agent"><span class="visually-hidden">Show this section</span></label>
            </div>

            <div class="ds_accordion-item__body" id="accordion-item-agent">
                <table class="summary-table">
                    <tr data-summary-field="letting-agent-query letting-agent-name letting-agent-postcode-search letting-agent-postcode-results letting-agent-building-street letting-agent-address-town">
                        <th>Letting agent</th>
                        <td>
                            {{#compare hasLandlordsAgent 'yes'}}
                                <dl class="summary-list">
                                    {{#with landlordsAgent}}
                                        <dt class="summary-list__label">Name</dt>
                                        <dd><a href="#!/letting-agent/letting-agent/letting-agent-name/" class="summary__link  summary__user-input">{{name}}</a></dd>

                                        <dt class="summary-list__label">Address</dt>
                                        <dd>
                                            <div class="hide-if-empty"><a href="#!/letting-agent/letting-agent/letting-agent-address-building/" class="summary__link  summary__user-input">{{address.building}}</a></div>
                                            <div class="hide-if-empty"><a href="#!/letting-agent/letting-agent/letting-agent-address-street/" class="summary__link  summary__user-input">{{address.street}}</a></div>
                                            <div class="hide-if-empty"><a href="#!/letting-agent/letting-agent/letting-agent-address-town/" class="summary__link  summary__user-input">{{address.town}}</a></div>
                                            <div class="hide-if-empty"><a href="#!/letting-agent/letting-agent/letting-agent-address-region/" class="summary__link  summary__user-input">{{address.region}}</a></div>
                                            <div class="hide-if-empty"><a href="#!/letting-agent/letting-agent/letting-agent-postcode/" class="summary__link  summary__user-input">{{address.postcode}}</a></div>
                                        </dd>

                                        <dt class="summary-list__label">Telephone</dt>
                                        <dd>
                                            <div class="hide-if-empty"><a href="#!/letting-agent/letting-agent/letting-agent-phone/" class="summary__link  summary__user-input">{{telephone}}</a></div>
                                        </dd>
                                    {{/with}}
                                </dl>

                            {{/compare}}
                            {{#compare hasLandlordsAgent 'letting-agent-no'}}
                                <a href="#!/letting-agent/letting-agent/letting-agent-query/" class="summary__link  summary__user-input">None</a>
                            {{/compare}}
                        </td>
                        <td class="summary-table__edit"><a class="edit" href="#!/letting-agent/letting-agent/">edit</a></td>
                    </tr>
                </table>
            </div>
        </div>
    {{else}}
        <div class="ds_accordion-item">

            <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-landlord" aria-labelledby="panel-landlord-heading" />
            <div class="ds_accordion-item__header">
                <h3 id="panel-landlord-heading" class="ds_accordion-item__title">
                    Landlord
                </h3>
                <span class="ds_accordion-item__indicator"></span>
                <label class="ds_accordion-item__label" for="panel-landlord"><span class="visually-hidden">Show this section</span></label>
            </div>

            <div class="ds_accordion-item__body" id="accordion-item-landlord">
                <table class="summary-table">
                    <tbody>
                        {{#unless landlords}}
                            <tr>
                                <th>Landlords</th>
                                <td></td>
                                <td class="summary-table__edit"><a href="#!/landlords/landlord-1/" class="edit">edit</a></td>
                            </tr>
                        {{/unless}}

                        {{#each landlords}}
                        <tr data-summary-field="landlord-{{add @index 1}}-name landlord-{{add @index 1}}-postcode-search landlord-{{add @index 1}}-postcode-results landlord-{{add @index 1}}-building-street landlord-{{add @index 1}}-address-town">
                            <th>Landlord {{add @index 1}}</th>
                            <td>
                                <dl class="summary-list">
                                    <dt class="summary-list__label">Name</dt>
                                    <dd>
                                        <a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-name/" class="summary__link  summary__user-input">{{{notspecified name}}}</a>
                                    </dd>

                                    <dt class="summary-list__label">Address</dt>
                                    <dd>
                                        <div class="hide-if-empty"><a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-address-building/" class="summary__link  summary__user-input">{{address.building}}</a></div>
                                        <div class="hide-if-empty"><a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-address-street/" class="summary__link  summary__user-input">{{address.street}}</a></div>
                                        <div class="hide-if-empty"><a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-address-town/" class="summary__link  summary__user-input">{{address.town}}</a></div>
                                        <div class="hide-if-empty"><a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-address-region/" class="summary__link  summary__user-input">{{address.region}}</a></div>
                                        <div class="hide-if-empty"><a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-postcode/" class="summary__link  summary__user-input">{{address.postcode}}</a></div>
                                    </dd>

                                    <dt class="summary-list__label">Telephone</dt>
                                    <dd>
                                        <div class="hide-if-empty"><a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-phone/" class="summary__link  summary__user-input">{{telephone}}</a></div>
                                    </dd>
                                </dl>
                            </td>
                            <td class="summary-table__edit"><a href="#!/landlords/landlord-{{add @index 1}}/" class="edit">edit</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    {{/compare}}




    {{#compare formType 'tenant'}}
        <div class="ds_accordion-item">
            <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-tenant" aria-labelledby="panel-tenant-heading" />
            <div class="ds_accordion-item__header">
                <h3 id="panel-tenant-heading" class="ds_accordion-item__title">
                    Tenant
                </h3>
                <span class="ds_accordion-item__indicator"></span>
                <label class="ds_accordion-item__label" for="panel-tenant"><span class="visually-hidden">Show this section</span></label>
            </div>

            <div class="ds_accordion-item__body" id="accordion-item-tenant">
                <table class="summary-table">
                    <tr data-summary-field="tenant-1-name">
                        <th>Tenant name(s)</th>
                        <td><!--
                            {{#each tenantNames}}
                                -->{{#if @first}}{{else}}, {{/if}}<a href="#!/tenants/tenants/tenant-{{add @index 1}}-name/" class="summary__link  summary__user-input">{{this}}</a><!--
                            {{/each}}
                        --></td>
                        <td class="summary-table__edit"><a href="#!/tenants/tenants/" class="edit">edit</a></td>
                    </tr>
                </table>
            </div>
        </div>
    {{/compare}}




    {{#compare formType 'subtenant'}}
        <div class="ds_accordion-item">
            <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-subtenant" aria-labelledby="panel-subtenant-heading" />
            <div class="ds_accordion-item__header">
                <h3 id="panel-subtenant-heading" class="ds_accordion-item__title">
                    Subtenant
                </h3>
                <span class="ds_accordion-item__indicator"></span>
                <label class="ds_accordion-item__label" for="panel-subtenant"><span class="visually-hidden">Show this section</span></label>
            </div>

            <div class="ds_accordion-item__body" id="accordion-item-subtenant">
                <table class="summary-table">
                    <tr data-summary-field="subtenant-1-name">
                        <th>Subtenant name(s)</th>
                        <td><!--
                            {{#each subtenantNames}}
                                -->{{#if @first}}{{else}}, {{/if}}<a href="#!/subtenants/subtenants/subtenant-{{add @index 1}}-name/" class="summary__link  summary__user-input">{{this}}</a><!--
                            {{/each}}
                        --></td>
                        <td class="summary-table__edit"><a href="#!/subtenants/subtenants/" class="edit">edit</a></td>
                    </tr>
                </table>
            </div>
        </div>
    {{/compare}}




    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-eviction" aria-labelledby="panel-eviction-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-eviction-heading" class="ds_accordion-item__title">
                Eviction details
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-eviction"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-subtenant">
            <table class="summary-table">
                <tbody>
                    <tr data-summary-field="eviction-reason">
                        <th>Grounds of eviction</th>
                        <td>
                            {{#if reasons}}
                                <ul>
                                    {{#reasons}}
                                        <li>{{name}}</li>
                                    {{/reasons}}
                                </ul>
                            {{else}}
                                None specified
                            {{/if}}
                        </td>
                        <td class="summary-table__edit"><a href="#!/end-date/grounds/" class="edit">edit</a></td>
                    </tr>
                    <tr data-summary-field="eviction-details">
                        <th>Details</th>
                        <td>
                            <div class="hide-if-empty"><a href="#!/end-date/details-and-evidence/eviction-details/" class="summary__link  summary__user-input">{{{notspecified reasonDetails}}}</a></div>
                        </td>
                        <td class="summary-table__edit"><a href="#!/end-date/details-and-evidence/" class="edit">edit</a></td>
                    </tr>
                    <tr data-summary-field="tenancy-start-date tenancy-start-date-with-help">
                        <th>Tenancy start date</th>
                        <td>
                            {{#compare hasEndNoticeHelp 'yes'}}
                                <div class="hide-if-empty"><a href="#!/end-date/notice-period/tenancy-start-date-with-help/" class="summary__link  summary__user-input">{{{notspecified entryDateWithHelp}}}</a></div>
                            {{else}}
                                <div class="hide-if-empty"><a href="#!/end-date/notice-period/tenancy-start-date/" class="summary__link  summary__user-input">{{{notspecified entryDate}}}</a></div>
                            {{/compare}}
                        <td class="summary-table__edit"><a href="#!/end-date/notice-period/" class="edit">edit</a></td>
                    </tr>
                    <tr data-summary-field="earliest-tribunal-date earliest-tribunal-date-with-help end-notice-help-query tenancy-start notice-date giving-notice-query">
                        <th>Notice period end date</th>
                        <td>
                            {{#compare hasEndNoticeHelp 'yes'}}
                                <div class="hide-if-empty"><a href="#!/end-date/notice-period/earliest-tribunal-date-with-help/" class="summary__link  summary__user-input">{{{notspecified noticePeriodEndDateWithHelp}}}</a></div>
                            {{else}}
                                <div class="hide-if-empty"><a href="#!/end-date/notice-period/earliest-tribunal-date/" class="summary__link  summary__user-input">{{{notspecified noticePeriodEndDate}}}</a></div>
                            {{/compare}}
                        </td>
                        <td class="summary-table__edit"><a href="#!/end-date/notice-period/" class="edit">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
