<div class="expandable-item  expandable-item--open  expandable-item--init-open">
    <button class="expandable-item__header js-toggle-expand" id="summary-panel-1-heading" data-toggle="collapse" aria-expanded="true" aria-controls="summary-panel-1" data-gtm="panel-open">
        <span class="expandable-item__title  gamma">Address</span>
        <span class="expandable-item__icon"></span>
    </button>
    <div id="summary-panel-1" class="expandable-item__body" aria-labelledby="summary-panel-1-heading">
        <table class="summary-table">
            <tbody>
                <tr data-summary-field="property-address-postcode-search property-address-postcode-results">
                    <th>Address</th>
                    <td>
                        <div class="hide-if-empty"><a href="#!/address/property-address-postcode-search/" class="summary__link  summary__user-input">{{{notspecified address}}}</a></div>
                    </td>
                    <td class="summary-table__edit"><a href="#!/address/" class="edit">edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="expandable-item  expandable-item--open  expandable-item--init-open">
    <button class="expandable-item__header js-toggle-expand" id="summary-panel-2-heading" data-toggle="collapse" aria-expanded="true" aria-controls="summary-panel-2" data-gtm="panel-open">
        <span class="expandable-item__title  gamma">Landlords</span>
        <span class="expandable-item__icon"></span>
    </button>
    <div id="summary-panel-2" class="expandable-item__body" aria-labelledby="summary-panel-2-heading">
        <table class="summary-table">
            <tbody>
                {{#unless landlords}}
                    <tr data-summary-field="landlord-1-name">
                        <th>Landlord</th>
                        <td></td>
                        <td class="summary-table__edit"><a href="#!/landlords/landlord-1/" class="edit">edit</a></td>
                    </tr>
                {{/unless}}

                {{#each landlords}}
                <tr data-summary-field="landlord-{{add @index 1}}-address-building landlord-{{add @index 1}}-address-street landlord-{{add @index 1}}-address-town landlord-{{add @index 1}}-address-region landlord-{{add @index 1}}-postcode landlord-{{add @index 1}}-postcode-search landlord-{{add @index 1}}-postcode-results landlord-{{add @index 1}}-name landlord-{{add @index 1}}-email landlord-{{add @index 1}}-telephone landlord-{{add @index 1}}-building-street">
                    <th>Landlord {{add @index 1}}</th>
                    <td>
                        <dl class="summary-list">
                            <dt class="summary-list__label">Name</dt>
                            <dd>
                                <a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-name/" class="summary__link  summary__user-input">{{{notspecified name}}}</a>
                            </dd>

                            <dt class="summary-list__label">Address</dt>
                            <dd>
                                <div class="hide-if-empty"><a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-address-building/" class="summary__link  summary__user-input">{{address.building}}</a></div>
                                <div class="hide-if-empty"><a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-address-street/" class="summary__link  summary__user-input">{{address.street}}</a></div>
                                <div class="hide-if-empty"><a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-address-town/" class="summary__link  summary__user-input">{{address.town}}</a></div>
                                <div class="hide-if-empty"><a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-address-region/" class="summary__link  summary__user-input">{{address.region}}</a></div>
                                <div class="hide-if-empty"><a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-postcode/" class="summary__link  summary__user-input">{{address.postcode}}</a></div>
                            </dd>

                            <dt class="summary-list__label">Email</dt>
                            <dd>
                                <a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-email/" class="summary__link  summary__user-input">{{{notspecified email}}}</a>
                            </dd>

                            <dt class="summary-list__label">Telephone</dt>
                            <dd>
                                <a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-telephone/" class="summary__link  summary__user-input">{{{notspecified telephone}}}</a>
                            </dd>
                        </dl>
                    </td>
                    <td class="summary-table__edit"><a href="#!/landlords/landlord-{{add @index 1}}/" class="edit">edit</a></td>
                </tr>
                {{/each}}

                <tr data-summary-field="letting-agent-query letting-agent-address-building letting-agent-address-street letting-agent-address-town letting-agent-address-region letting-agent-postcode letting-agent-postcode-search letting-agent-postcode-results letting-agent-name letting-agent-email letting-agent-telephone">
                    <th>Letting agent</th>

                    {{#compare hasLettingAgent "yes"}}
                    <td>
                        {{#with landlordsAgent}}
                        <dl class="summary-list">
                            <dt class="summary-list__label">Name</dt>
                            <dd>
                                <a href="#!/landlords/letting-agent/letting-agent-name/" class="summary__link  summary__user-input">{{{notspecified name}}}</a>
                            </dd>

                            <dt class="summary-list__label">Address</dt>
                            <dd>
                                <div class="hide-if-empty"><a href="#!/landlords/letting-agent/letting-agent-address-building/" class="summary__link  summary__user-input">{{address.building}}</a></div>
                                <div class="hide-if-empty"><a href="#!/landlords/letting-agent/letting-agent-address-street/" class="summary__link  summary__user-input">{{address.street}}</a></div>
                                <div class="hide-if-empty"><a href="#!/landlords/letting-agent/letting-agent-address-town/" class="summary__link  summary__user-input">{{address.town}}</a></div>
                                <div class="hide-if-empty"><a href="#!/landlords/letting-agent/letting-agent-address-region/" class="summary__link  summary__user-input">{{address.region}}</a></div>
                                <div class="hide-if-empty"><a href="#!/landlords/letting-agent/letting-agent-postcode/" class="summary__link  summary__user-input">{{address.postcode}}</a></div>
                            </dd>

                            <dt class="summary-list__label">Email</dt>
                            <dd>
                                <a href="#!/landlords/letting-agent/letting-agent-email/" class="summary__link  summary__user-input">{{{notspecified email}}}</a>
                            </dd>

                            <dt class="summary-list__label">Telephone</dt>
                            <dd>
                                <a href="#!/landlords/letting-agent/letting-agent-telephone/" class="summary__link  summary__user-input">{{{notspecified telephone}}}</a>
                            </dd>
                        </dl>
                        {{/with}}
                    </td>
                    {{/compare}}
                    {{#compare hasLettingAgent "no"}}
                    <td><a href="#!/landlords/letting-agent/letting-agent--query/" class="summary__link  summary__user-input">None</a></td>
                    {{/compare}}
                    {{#compare hasLettingAgent null}}
                    <td></td>
                    {{/compare}}
                    <td class="summary-table__edit"><a class="edit" href="#!/landlords/letting-agent/">edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="expandable-item  expandable-item--open  expandable-item--init-open">
    <button class="expandable-item__header js-toggle-expand" id="summary-panel-3-heading" data-toggle="collapse" aria-expanded="true" aria-controls="summary-panel-3" data-gtm="panel-open">
        <span class="expandable-item__title  gamma">Tenants</span>
        <span class="expandable-item__icon"></span>
    </button>
    <div id="summary-panel-3" class="expandable-item__body" aria-labelledby="summary-panel-3-heading">

        <table class="summary-table">

            {{#unless tenants}}
                <tr data-summary-field="tenant-1-name">
                    <th>Tenants</th>
                    <td>None specified</td>
                    <td class="summary-table__edit"><a href="#!/tenants/tenant-1/" class="edit">edit</a></td>
                </tr>
            {{/unless}}

            {{#each tenants}}
            <tr data-summary-field="tenant-{{add @index 1}}-name tenant-{{add @index 1}}-email tenant-{{add @index 1}}-telephone">
                <th>Tenant {{add @index 1}}</th>
                <td>
                    <dl class="summary-list">
                        <dt class="summary-list__label">Name</dt>
                        <dd>
                            <a href="#!/tenants/tenant-{{add @index 1}}/tenant-{{add @index 1}}-name/" class="summary__link  summary__user-input">{{{notspecified name}}}</a>
                        </dd>

                        <dt class="summary-list__label">Email</dt>
                        <dd>
                            <a href="#!/tenants/tenant-{{add @index 1}}/tenant-{{add @index 1}}-email/" class="summary__link  summary__user-input">{{{notspecified email}}}</a>
                        </dd>

                        <dt class="summary-list__label">Telephone</dt>
                        <dd>
                            <a href="#!/tenants/tenant-{{add @index 1}}/tenant-{{add @index 1}}-telephone/" class="summary__link  summary__user-input">{{{notspecified telephone}}}</a>
                        </dd>
                    </dl>
                </td>
                <td class="summary-table__edit"><a class="edit" href="#!/tenants/tenant-{{add @index 1}}/">edit</a></td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>

<div class="expandable-item  expandable-item--open  expandable-item--init-open">
    <button class="expandable-item__header js-toggle-expand" id="summary-panel-4-heading" data-toggle="collapse" aria-expanded="true" aria-controls="summary-panel-4" data-gtm="panel-open">
        <span class="expandable-item__title  gamma">Improvements</span>
        <span class="expandable-item__icon"></span>
    </button>
    <div id="summary-panel-4" class="expandable-item__body" aria-labelledby="summary-panel-4-heading">
        <table class="summary-table">
            <tbody>
                <tr data-summary-field="improvements improvements-details">
                    <th>Property improvements</th>
                    <td>
                        <a href="#!/improvements/property-improvements/improvements-details" class="summary__link  summary__user-input">{{{notspecified improvements}}}</a>
                    </td>
                    <td class="summary-table__edit"><a href="#!/improvements/property-improvements/" class="edit">edit</a></td>
                </tr>

                <tr data-summary-field="documents-query">
                    <th>Proof of work</th>

                    <td>
                        <dl class="summary-list">
                            <dt class="summary-list__label">Copies of invoices or receipts attached</dt>
                            <dd>
                                {{#if includesReceipts}}
                                <a href="#!/tenants/tenant-{{add @index 1}}/tenant-{{add @index 1}}-telephone/" class="summary__link  summary__user-input">Yes</a>
                                {{else}}
                                <a href="#!/tenants/tenant-{{add @index 1}}/tenant-{{add @index 1}}-telephone/" class="summary__link  summary__user-input">No</a>
                                {{/if}}
                            </dd>

                            <dt class="summary-list__label">Photos of work attached</dt>
                            <dd>
                                {{#if includesBeforeAndAfterPictures}}
                                <a href="#!/tenants/tenant-{{add @index 1}}/tenant-{{add @index 1}}-telephone/" class="summary__link  summary__user-input">Yes</a>
                                {{else}}
                                <a href="#!/tenants/tenant-{{add @index 1}}/tenant-{{add @index 1}}-telephone/" class="summary__link  summary__user-input">No</a>
                                {{/if}}
                            </dd>
                        </dl>
                    </td>
                    <td class="summary-table__edit"><a href="#!/improvements/proof-of-work/" class="edit">edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="expandable-item  expandable-item--open  expandable-item--init-open">
    <button class="expandable-item__header js-toggle-expand" id="summary-panel-5-heading" data-toggle="collapse" aria-expanded="true" aria-controls="summary-panel-5" data-gtm="panel-open">
        <span class="expandable-item__title  gamma">Increase</span>
        <span class="expandable-item__icon"></span>
    </button>
    <div id="summary-panel-5" class="expandable-item__body" aria-labelledby="summary-panel-5-heading">
        <table class="summary-table">
            <tbody>
                <tr data-summary-field="rent-increase-amount">
                    <th>Rent increase amount</th>
                    <td>
                        <a href="#!/rent-increase/rent-increase/rent-increase-amount/" class="summary__link  summary__user-input">{{{notspecified (currency rentIncreaseAmount)}}}</a>

                    </td>
                    <td class="summary-table__edit"><a href="#!/rent-increase/rent-increase/" class="edit">edit</a></td>
                </tr>
                <tr data-summary-field="rent-payment-frequency">
                    <th>Rent payment frequency</th>
                    <td>
                        <a href="#!/rent-increase/rent-increase/rent-payment-frequency/" class="summary__link  summary__user-input">{{rentIncreaseFrequency_text}}</a>
                    </td>
                    <td class="summary-table__edit"><a href="#!/rent-increase/rent-increase/" class="edit">edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
