<div class="ds_accordion" data-module="ds-accordion">
    <button data-accordion="accordion-open-all" type="button" class="ds_link  ds_accordion__open-all  js-open-all">Open all <span class="visually-hidden">sections</span></button>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-address" aria-labelledby="panel-property-address" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-address-heading" class="ds_accordion-item__title">
                Address
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-address"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-address">
            <table class="summary-table">
                <tbody>
                    <tr data-summary-field="rpz-postcode-search rpz-postcode-results">
                        <th>Address</th>
                        <td>
                            <div class="hide-if-empty"><a href="#!/address/address/rpz-postcode-search/" class="summary__link  summary__user-input">{{propertyAddress}}</a></div>
                        </td>
                        <td class="summary-table__edit"><a href="#!/address/" class="edit">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-tenants" aria-labelledby="panel-property-tenants" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-tenants-heading" class="ds_accordion-item__title">
                Tenants
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-tenants"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-tenants">
            <table class="summary-table">

                {{#unless tenants}}
                    <tr data-summary-field="tenant-1-name">
                        <th>Tenants</th>
                        <td>None specified</td>
                        <td class="summary-table__edit"><a href="#!/tenants/tenant-1/" class="edit">edit</a></td>
                    </tr>
                {{/unless}}

                {{#each tenants}}
                <tr data-summary-field="tenant-{{add @index 1}}-address-building tenant-{{add @index 1}}-address-street tenant-{{add @index 1}}-address-town tenant-{{add @index 1}}-address-region tenant-{{add @index 1}}-postcode-search tenant-{{add @index 1}}-postcode-results tenant-{{add @index 1}}-postcode tenant-{{add @index 1}}-name tenant-{{add @index 1}}-email tenant-{{add @index 1}}-telephone tenant-{{add @index 1}}-building-street">
                    <th>Tenant {{add @index 1}}</th>
                    <td>
                        <dl class="summary-list">
                            <dt class="summary-list__label">Name</dt>
                            <dd>
                                <a href="#!/tenants/tenant-{{add @index 1}}/tenant-{{add @index 1}}-name/" class="summary__link  summary__user-input">{{{notspecified name}}}</a>
                            </dd>

                            <dt class="summary-list__label">Address</dt>
                            <dd>
                                <div class="hide-if-empty"><a href="#!/tenants/tenant-{{add @index 1}}/tenant-{{add @index 1}}-address-building/" class="summary__link  summary__user-input">{{address.building}}</a></div>
                                <div class="hide-if-empty"><a href="#!/tenants/tenant-{{add @index 1}}/tenant-{{add @index 1}}-address-street/" class="summary__link  summary__user-input">{{address.street}}</a></div>
                                <div class="hide-if-empty"><a href="#!/tenants/tenant-{{add @index 1}}/tenant-{{add @index 1}}-address-town/" class="summary__link  summary__user-input">{{address.town}}</a></div>
                                <div class="hide-if-empty"><a href="#!/tenants/tenant-{{add @index 1}}/tenant-{{add @index 1}}-address-region/" class="summary__link  summary__user-input">{{address.region}}</a></div>
                                <div class="hide-if-empty"><a href="#!/tenants/tenant-{{add @index 1}}/tenant-{{add @index 1}}-postcode/" class="summary__link  summary__user-input">{{address.postcode}}</a></div>
                            </dd>

                            <dt class="summary-list__label">Email</dt>
                            <dd>
                                <a href="#!/tenants/tenant-{{add @index 1}}/tenant-{{add @index 1}}-email/" class="summary__link  summary__user-input">{{{notspecified email}}}</a>
                            </dd>

                            <dt class="summary-list__label">Telephone</dt>
                            <dd>
                                <a href="#!/tenants/tenant-{{add @index 1}}/tenant-{{add @index 1}}-telephone/" class="summary__link  summary__user-input">{{{notspecified telephone}}}</a>
                            </dd>


                        </dl>
                    </td>
                    <td class="summary-table__edit"><a class="edit" href="#!/tenants/tenant-{{add @index 1}}/">edit</a></td>
                </tr>
                {{/each}}

                <tr data-summary-field="tenant-agent--query tenant-agent-postcode-search tenant-agent-postcode-results tenant-agent-address-building tenant-agent-address-street tenant-agent-address-town tenant-agent-address-region tenant-agent-postcode tenant-agent-name tenant-agent-email tenant-agent-telephone">
                    <th>Tenant agent</th>

                    <td>
                        {{#compare hasTenantAgent "yes"}}
                        {{#with tenantAgent}}
                        <dl class="summary-list">
                            <dt class="summary-list__label">Name</dt>
                            <dd>
                                <a href="#!/tenants/tenants-agent/tenant-agent-name/" class="summary__link  summary__user-input">{{{notspecified name}}}</a>
                            </dd>

                            <dt class="summary-list__label">Address</dt>
                            <dd>
                                <div class="hide-if-empty"><a href="#!/tenants/tenants-agent/tenant-agent-address-building/" class="summary__link  summary__user-input">{{address.building}}</a></div>
                                <div class="hide-if-empty"><a href="#!/tenants/tenants-agent/tenant-agent-address-street/" class="summary__link  summary__user-input">{{address.street}}</a></div>
                                <div class="hide-if-empty"><a href="#!/tenants/tenants-agent/tenant-agent-address-town/" class="summary__link  summary__user-input">{{address.town}}</a></div>
                                <div class="hide-if-empty"><a href="#!/tenants/tenants-agent/tenant-agent-address-region/" class="summary__link  summary__user-input">{{address.region}}</a></div>
                                <div class="hide-if-empty"><a href="#!/tenants/tenants-agent/tenant-agent-postcode/" class="summary__link  summary__user-input">{{address.postcode}}</a></div>
                            </dd>

                            <dt class="summary-list__label">Email</dt>
                            <dd>
                                <a href="#!/tenants/tenants-agent/tenant-agent-email/" class="summary__link  summary__user-input">{{{notspecified email}}}</a>
                            </dd>

                            <dt class="summary-list__label">Telephone</dt>
                            <dd>
                                <a href="#!/tenants/tenants-agent/tenant-agent-telephone/" class="summary__link  summary__user-input">{{{notspecified telephone}}}</a>
                            </dd>
                        </dl>
                        {{/with}}
                        {{/compare}}
                        {{#compare hasTenantAgent "no"}}
                            <a href="#!/tenants/tenants-agent/tenant-agent--query/" class="summary__link  summary__user-input">None</a>
                        {{/compare}}
                    </td>
                    <td class="summary-table__edit"><a class="edit" href="#!/tenants/tenants-agent/">edit</a></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-property" aria-labelledby="panel-property-property" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-property-heading" class="ds_accordion-item__title">
                Property
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-property"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-property">
            <table class="summary-table">
                <tbody>
                    <tr data-summary-field="property-building building-other property-building-link">
                        <th>Type of home</th>
                        <td>
                            {{#if propertyType}}
                                <a href="#!/about-the-home/type/property-building/" class="summary__link  summary__user-input">{{propertyType_text}}</a>

                                {{#compare propertyType 'OTHER'}}
                                    {{#if buildingOther}}
                                        (<a href="#!/about-the-home/type/building-other/" class="summary__link  summary__user-input">{{buildingOther}}</a>)
                                    {{/if}}
                                {{/compare}}
                            {{else}}
                                <a href="#!/about-the-home/type/property-building/" class="summary__link  summary__user-input">Not specified</a>
                            {{/if}}
                        </td>
                        <td class="summary-table__edit"><a href="#!/about-the-home/type/" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="rooms-table-name-new">
                        <th>Rooms</th>
                        <td>
                            <ul class="no-bullets">
                            {{#each rooms}}
                                <li>{{name}} ({{quantity}})</li>
                            {{/each}}
                            </ul>
                        </td>
                        <td class="summary-table__edit"><a href="#!/about-the-home/rooms/" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="shared-areas-details shared-areas-query">
                        <th>Shared areas</th>

                        <td>
                            {{#compare sharedAreasQuery 'yes'}}
                                <a href="#!/about-the-home/shared-areas/shared-areas-details/" class="summary__link  summary__user-input">{{{notspecified sharedAreas}}}</a>
                            {{else}}
                                {{#compare sharedAreasQuery 'no'}}
                                    <a href="#!/about-the-home/shared-areas/shared-areas-query/" class="summary__link  summary__user-input">No shared areas</a>
                                {{else}}
                                    <a href="#!/about-the-home/shared-areas/shared-areas-query/" class="summary__link  summary__user-input">Not specified</a>
                                {{/compare}}
                            {{/compare}}
                        </td>
                        <td class="summary-table__edit"><a href="#!/about-the-home/shared-areas/" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="included-details included-query">
                        <th>Outside space</th>
                        <td>
                            {{#compare includedQuery 'yes'}}
                                <a href="#!/about-the-home/outside-space/included-details/" class="summary__link  summary__user-input">{{{notspecified included}}}</a>
                            {{else}}
                                {{#compare includedQuery 'no'}}
                                    <a href="#!/about-the-home/outside-space/included-query/" class="summary__link  summary__user-input">No outside space</a>
                                {{else}}
                                    <a href="#!/about-the-home/outside-space/included-query/" class="summary__link  summary__user-input">Not specified</a>
                                {{/compare}}
                            {{/compare}}
                        </td>

                        <td class="summary-table__edit"><a href="#!/about-the-home/outside-space/" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="property-heating heating-query">
                        <th>Heating</th>
                        <td>
                            {{#if heating}}
                                <a href="#!/about-the-home/heating/property-heating/" class="summary__link  summary__user-input">{{heating_text}}</a>
                            {{else}}
                                <a href="#!/about-the-home/heating/property-heating/" class="summary__link  summary__user-input">Not specified</a>
                            {{/if}}
                        </td>
                        <td class="summary-table__edit"><a href="#!/about-the-home/heating/" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="property-double-glazing glazing-query">
                        <th>Double glazing</th>
                        <td>
                            {{#if doubleGlazing}}
                                <a href="#!/about-the-home/double-glazing/property-double-glazing/" class="summary__link  summary__user-input">{{doubleGlazing_text}}</a>
                            {{else}}
                                <a href="#!/about-the-home/double-glazing/property-double-glazing/" class="summary__link  summary__user-input">Not specified</a>
                            {{/if}}
                        </td>
                        <td class="summary-table__edit"><a href="#!/about-the-home/double-glazing" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="services-details services-cost-details services-query">
                        <th>Services</th>
                        <td>
                            {{#compare servicesQuery 'yes'}}
                            <dl>
                                <dt>Services included in rent</dt>
                                <dd><a href="#!/about-the-home/services/services-details/" class="summary__link  summary__user-input">{{{notspecified servicesDetails}}}</a></dd>

                                <dt>How much is charged for services</dt>
                                <dd><a href="#!/about-the-home/services/services-cost-details/" class="summary__link  summary__user-input">{{{notspecified servicesCostDetails}}}</a></dd>
                            </dl>
                            {{else}}
                                {{#compare servicesQuery 'no'}}
                                    <a href="#!/about-the-home/services/services-query/" class="summary__link  summary__user-input">No services included in rent</a>
                                {{else}}
                                    <a href="#!/about-the-home/services/services-query/" class="summary__link  summary__user-input">Not specified</a>
                                {{/compare}}
                            {{/compare}}
                        </td>
                        <td class="summary-table__edit"><a href="#!/about-the-home/services/" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="furnished-query">
                        <th>Furniture</th>
                        <td>

                            {{#compare furnished 'no'}}
                                <a href="#!/about-the-home/furniture/furnished-query/" class="summary__link  summary__user-input">Unfurnished</a>
                            {{else}}
                                {{#compare furnished 'yes'}}
                                    <a href="#!/about-the-home/furniture/furnished-query/" class="summary__link  summary__user-input">Furnished</a>
                                {{else}}
                                    <a href="#!/about-the-home/furniture/furnished-query/" class="summary__link  summary__user-input">Not specified</a>
                                {{/compare}}
                            {{/compare}}

                        </td>
                        <td class="summary-table__edit"><a href="#!/about-the-home/furniture/" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="landlord-improvements-details tenant-improvements-details tenant-improvements-query landlord-improvements-query">
                        <th>Improvements</th>
                        <td>
                            <dl>
                                <dt>Improvements by tenant</dt>
                                <dd>
                                    {{#compare tenantImprovementsQuery 'yes'}}
                                        <a href="#!/about-the-home/improvements/tenant-improvements-details/" class="summary__link  summary__user-input">{{{notspecified improvementsTenant}}}</a>
                                    {{else}}
                                        {{#compare tenantImprovementsQuery 'no'}}
                                            <a href="#!/about-the-home/improvements/tenant-improvements-details/" class="summary__link  summary__user-input">None</a>
                                        {{else}}
                                            <a href="#!/about-the-home/improvements/tenant-improvements-details/" class="summary__link  summary__user-input">Not specified</a>
                                        {{/compare}}
                                    {{/compare}}
                                </dd>

                                <dt>Improvements by landlord</dt>
                                <dd>
                                    {{#compare landlordImprovementsQuery 'yes'}}
                                        <a href="#!/about-the-home/improvements/landlord-improvements-details/" class="summary__link  summary__user-input">{{{notspecified improvementsLandlord}}}</a>
                                    {{else}}
                                        {{#compare landlordImprovementsQuery 'no'}}
                                            <a href="#!/about-the-home/improvements/landlord-improvements-details/" class="summary__link  summary__user-input">None</a>
                                        {{else}}
                                            <a href="#!/about-the-home/improvements/landlord-improvements-details/" class="summary__link  summary__user-input">Not specified</a>
                                        {{/compare}}
                                    {{/compare}}
                                </dd>
                            </dt>
                        </td>
                        <td class="summary-table__edit"><a href="#!/about-the-home/improvements/" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="damages-details damages-query">
                        <th>Damage</th>
                        <td>
                            {{#compare damagesQuery 'yes'}}
                                <a href="#!/about-the-home/damage/damages-details/" class="summary__link  summary__user-input">{{{notspecified damage}}}</a>
                            {{else}}
                                {{#compare damagesQuery 'no'}}
                                    <a href="#!/about-the-home/damage/damages-details/" class="summary__link  summary__user-input">None</a>
                                {{else}}
                                    <a href="#!/about-the-home/damage/damages-details/" class="summary__link  summary__user-input">Not specified</a>
                                {{/compare}}
                            {{/compare}}
                        </td>
                        <td class="summary-table__edit"><a href="#!/about-the-home/damage/" class="edit">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-rent" aria-labelledby="panel-property-rent" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-rent-heading" class="ds_accordion-item__title">
                Rent
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-rent"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-rent">
            <table class="summary-table">
                <tbody>
                    <tr data-summary-field="current-rent-amount current-payment-frequency">
                        <th>Current rent</th>
                        <td>
                            <a href="#!/rent/current-rent/current-rent-amount/" class="summary__link  summary__user-input">{{{notspecified (currency currentRentAmount)}}}</a>
                            <a href="#!/rent/current-rent/current-payment-frequency/" class="summary__link  summary__user-input">{{currentRentFrequency_text}}</a>
                        </td>
                        <td class="summary-table__edit"><a href="#!/rent/current-rent/" class="edit">edit</a></td>
                    </tr>

                    <tr data-summary-field="new-rent-amount new-payment-frequency">
                        <th>New rent</th>
                        <td>
                            <a href="#!/rent/new-rent/new-rent-amount/" class="summary__link  summary__user-input">{{{notspecified (currency newRentAmount)}}}</a>
                            <a href="#!/rent/new-rent/new-payment-frequency/" class="summary__link  summary__user-input">{{newRentFrequency_text}}</a>
                        </td>
                        <td class="summary-table__edit"><a href="#!/rent/new-rent/" class="edit">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-landlords" aria-labelledby="panel-property-landlords" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-landlords-heading" class="ds_accordion-item__title">
                Landlords
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-landlords"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-landlords">
            <table class="summary-table">
                <tbody>
                    {{#unless landlords}}
                        <tr data-summary-field="landlord-1-name">
                            <th>Landlords</th>
                            <td></td>
                            <td class="summary-table__edit"><a href="#!/landlords/landlord-1/" class="edit">edit</a></td>
                        </tr>
                    {{/unless}}

                    {{#each landlords}}
                    <tr data-summary-field="landlord-{{add @index 1}}-address-building landlord-{{add @index 1}}-address-street landlord-{{add @index 1}}-address-town landlord-{{add @index 1}}-address-region landlord-{{add @index 1}}-postcode landlord-{{add @index 1}}-postcode-search landlord-{{add @index 1}}-postcode-results landlord-{{add @index 1}}-name landlord-{{add @index 1}}-email landlord-{{add @index 1}}-telephone landlord-{{add @index 1}}-building-street">
                        <th>Landlord {{add @index 1}}</th>
                        <td>
                            <dl class="summary-list">
                                <dt class="summary-list__label">Name</dt>
                                <dd>
                                    <a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-name/" class="summary__link  summary__user-input">{{{notspecified name}}}</a>
                                </dd>

                                <dt class="summary-list__label">Address</dt>
                                <dd>
                                    <div class="hide-if-empty"><a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-address-building/" class="summary__link  summary__user-input">{{address.building}}</a></div>
                                    <div class="hide-if-empty"><a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-address-street/" class="summary__link  summary__user-input">{{address.street}}</a></div>
                                    <div class="hide-if-empty"><a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-address-town/" class="summary__link  summary__user-input">{{address.town}}</a></div>
                                    <div class="hide-if-empty"><a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-address-region/" class="summary__link  summary__user-input">{{address.region}}</a></div>
                                    <div class="hide-if-empty"><a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-postcode/" class="summary__link  summary__user-input">{{address.postcode}}</a></div>
                                </dd>

                                <dt class="summary-list__label">Email</dt>
                                <dd>
                                    <a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-email/" class="summary__link  summary__user-input">{{{notspecified email}}}</a>
                                </dd>

                                <dt class="summary-list__label">Telephone</dt>
                                <dd>
                                    <a href="#!/landlords/landlord-{{add @index 1}}/landlord-{{add @index 1}}-telephone/" class="summary__link  summary__user-input">{{{notspecified telephone}}}</a>
                                </dd>
                            </dl>
                        </td>
                        <td class="summary-table__edit"><a href="#!/landlords/landlord-{{add @index 1}}/" class="edit">edit</a></td>
                    </tr>
                    {{/each}}

                    <tr data-summary-field="letting-agent--query letting-agent-address-building letting-agent-address-street letting-agent-address-town letting-agent-address-region letting-agent-postcode letting-agent-postcode-search letting-agent-postcode-results letting-agent-name letting-agent-email letting-agent-telephone">
                        <th>Letting agent</th>

                        {{#compare hasLettingAgent "true"}}
                        <td>
                            {{#with lettingAgent}}
                            <dl class="summary-list">
                                <dt class="summary-list__label">Name</dt>
                                <dd>
                                    <a href="#!/landlords/letting-agent/letting-agent-name/" class="summary__link  summary__user-input">{{{notspecified name}}}</a>
                                </dd>

                                <dt class="summary-list__label">Address</dt>
                                <dd>
                                    <div class="hide-if-empty"><a href="#!/landlords/letting-agent/letting-agent-address-building/" class="summary__link  summary__user-input">{{address.building}}</a></div>
                                    <div class="hide-if-empty"><a href="#!/landlords/letting-agent/letting-agent-address-street/" class="summary__link  summary__user-input">{{address.street}}</a></div>
                                    <div class="hide-if-empty"><a href="#!/landlords/letting-agent/letting-agent-address-town/" class="summary__link  summary__user-input">{{address.town}}</a></div>
                                    <div class="hide-if-empty"><a href="#!/landlords/letting-agent/letting-agent-address-region/" class="summary__link  summary__user-input">{{address.region}}</a></div>
                                    <div class="hide-if-empty"><a href="#!/landlords/letting-agent/letting-agent-postcode/" class="summary__link  summary__user-input">{{address.postcode}}</a></div>
                                </dd>

                                <dt class="summary-list__label">Email</dt>
                                <dd>
                                    <a href="#!/landlords/letting-agent/letting-agent-email/" class="summary__link  summary__user-input">{{{notspecified email}}}</a>
                                </dd>

                                <dt class="summary-list__label">Telephone</dt>
                                <dd>
                                    <a href="#!/landlords/letting-agent/letting-agent-telephone/" class="summary__link  summary__user-input">{{{notspecified telephone}}}</a>
                                </dd>
                            </dl>
                            {{/with}}
                        </td>
                        {{/compare}}
                        {{#compare hasLettingAgent "false"}}
                        <td><a href="#!/landlords/letting-agent/letting-agent--query/" class="summary__link  summary__user-input">None</a></td>
                        {{/compare}}
                        {{#compare hasLettingAgent null}}
                        <td></td>
                        {{/compare}}
                        <td class="summary-table__edit"><a class="edit" href="#!/landlords/letting-agent/">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="ds_accordion-item">
        <input type="checkbox" checked class="visually-hidden  ds_accordion-item__control" id="panel-visit" aria-labelledby="panel-property-visit" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-visit-heading" class="ds_accordion-item__title">
                Visit
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-visit"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-visit">
            <table class="summary-table">
                <tbody>
                    <tr data-summary-field="property-inspection-dates">
                        <th>Unavailable dates</th>
                        <td>
                            <a href="#!/property-visit/property-visit/property-inspection-dates/" class="summary__link  summary__user-input">{{{notspecified notAvailableForInspection}}}</a>
                        </td>
                        <td class="summary-table__edit"><a href="#!/property-visit/" class="edit">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
