{{!-- here be dragons --}}

<div class="editable-table">
    <table class="editable-table__table">
        <thead>
            <tr>
                {{#fields}}
                    <th id="{{slug}}-heading">{{title}}</th>
                {{/fields}}

                {{#unless readonly}}
                    <th><span class="visually-hidden">Controls</span></th>
                {{/unless}}
            </tr>
        </thead>
        <tbody>
            {{#data}}
                <tr>
                    {{#each .}}

                        {{#match @key '_nodisplay'}}
                            {{!-- we don't want to output anything with _nodisplay --}}
                        {{else}}
                            <td>
                                <div class="ds_question">
                                    <span class="editable-table__view  editable-table__value">
                                        {{#if (lookup (lookup ../../fields @index) 'format')}}
                                            {{#match (lookup (lookup ../../fields @index) 'format') 'currency'}}
                                                {{currency this}}
                                            {{else}}
                                                {{this}}
                                            {{/match}}
                                        {{else}}
                                            {{#if (lookup ../. (concat @key '_options_nodisplay'))}}
                                                {{getDisplayName (lookup ../. (concat @key '_options_nodisplay')) this}}
                                            {{else}}
                                                {{this}}
                                            {{/if}}
                                        {{/if}}
                                    </span>

                                    {{#if (lookup ../. (concat @key '_options_nodisplay'))}}
                                        {{#compare (lookup (lookup ../../fields @index) 'type') 'radio'}}
                                            <div id="{{@key}}-{{@../index}}" class="et_inline-radio--small  ds_field-group  ds_field-group--inline  editable-table__edit  js-value  js-radio-group  no-validate" data-field="{{../slug_nodisplay}}" {{#if (lookup (lookup ../../fields @index) 'validation')}}data-validation="{{lookup (lookup ../../fields @index) 'validation'}}"{{/if}}>
                                                {{#each (lookup ../. (concat @key '_options_nodisplay'))}}
                                                    <div class="ds_radio  ds_radio--small">
                                                        <input
                                                            {{#compare value ../.}}checked="checked"{{/compare}}
                                                            id="{{../../slug_nodisplay}}-{{@../../index}}-{{value}}" value="{{value}}" name="{{../../slug_nodisplay}}{{@../../index}}" class="ds_radio__input" type="radio" data-form="radio-{{../../slug_nodisplay}}{{@../../index}}-{{value}}">
                                                        <label for="{{../../slug_nodisplay}}-{{@../../index}}-{{value}}" class="ds_radio__label">{{displayName}}</label>
                                                    </div>
                                                {{/each}}
                                            </div>
                                        {{else}}
                                            <div class="ds_select-wrapper  editable-table__edit  et_select--small">
                                                <select
                                                    id="{{@key}}-{{@../index}}"
                                                    {{#if (lookup (lookup ../../fields @index) 'validation')}}data-validation="{{lookup (lookup ../../fields @index) 'validation'}}"{{/if}}
                                                    aria-labeledby="{{@key}}-heading" data-field="{{@key}}" class="js-value  editable-table__select  ds_select">
                                                    {{#each (lookup ../. (concat @key '_options_nodisplay'))}}
                                                        <option value="{{value}}" {{#compare value ../.}}selected{{/compare}}>{{displayName}}</option>
                                                    {{/each}}
                                                </select>
                                                <span class="ds_select-arrow" aria-hidden="true"></span>
                                            </div>
                                        {{/compare}}
                                    {{else}}
                                        {{#compare (lookup (lookup ../../fields @index) 'type') 'checkbox'}}
                                            <input type="checkbox"
                                                {{#if (lookup (lookup ../../fields @index) 'validation')}}data-validation="{{lookup (lookup ../../fields @index) 'validation'}}"{{/if}}
                                                aria-labeledby="{{@key}}-heading"
                                                data-field="{{@key}}"
                                                data-form="checkbox-{{@key}}"
                                                class="js-value  grey  form-control  fancy-checkbox"
                                                id="{{@key}}-{{@../index}}">
                                        {{else}}
                                            <input
                                                {{#if (lookup (lookup ../../fields @index) 'validation')}}data-validation="{{lookup (lookup ../../fields @index) 'validation'}}"{{/if}}
                                                {{#if (lookup (lookup ../../fields @index) 'format')}}data-format="{{lookup (lookup ../../fields @index) 'format'}}"{{/if}}
                                                aria-labeledby="{{@key}}-heading"
                                                data-field="{{@key}}"
                                                class="js-value  ds_input  et_input--small  editable-table__edit  editable-table__input"
                                                value="{{this}}"
                                                type="text"
                                                id="{{@key}}-{{@../index}}"
                                                data-form="textinput-{{@key}}-{{@../index}}">
                                        {{/compare}}
                                    {{/if}}
                                </div>
                            </td>
                        {{/match}}
                    {{/each}}

                    {{#unless ../readonly}}
                        <td>
                            <button class="ds_button  editable-table__view  js-edit-button" aria-label="Edit item {{add @index 1}}">Edit</button>
                            <button class="ds_button  ds_button--cancel  editable-table__view  js-remove-button" aria-label="Remove item {{add @index 1}}">Remove</button>

                            <button class="ds_button  editable-table__edit  js-save-button" aria-label="Save item {{add @index 1}}">Save</button>
                            <button class="ds_button  ds_button--cancel  editable-table__edit  js-cancel-button" aria-label="Cancel edit of item {{add @index 1}}">Cancel</button>
                        </td>
                    {{/unless}}
                </tr>
            {{/data}}

            {{#unless ../readonly}}
            <tr class="editable-table__add-button-row">
                {{#fields}}
                    <td></td>
                {{/fields}}
                <td><button class="ds_button  editable-table__add-button  js-show-add-form">{{addText}}</button></td>
            </tr>

            <tr class="editable-table__add-form  js-add-form">

                    {{#fields}}
                    <td>
                        <div class="ds_question">
                            <label class="visually-hidden" for="{{../name}}-{{slug}}-new">{{title}}{{#if mandatory}} <span class="mandatory">*</span>{{/if}}</label>

                            {{#if options}}

                                {{#compare type "radio"}}

                                    <fieldset id="{{../slug}}">

                                        <div id="{{../name}}-{{slug}}-new" class="et_inline-radio--small  ds_field-group  ds_field-group--inline  js-value  js-radio-group  no-validate" data-field="{{slug}}" {{#if validation}}data-validation="{{validation}}"{{/if}}>
                                            {{#options}}
                                                <div class="ds_radio  ds_radio--small">
                                                    <input id="{{../slug}}-{{value}}" value="{{value}}" name="{{../slug}}" class="ds_radio__input" type="radio" data-form="radio-{{../slug}}-{{value}}">
                                                    <label for="{{../slug}}-{{value}}" class="ds_radio__label">{{displayName}}</label>
                                                </div>
                                            {{/options}}
                                        </div>
                                    </fieldset>

                                {{else}}

                                    <div class="ds_select-wrapper  et_select--small">
                                        <select id="{{../name}}-{{slug}}-new" {{#if validation}}data-validation="{{validation}}"{{/if}} data-field="{{slug}}" class="js-value  ds_select  no-validate">
                                            {{#options}}
                                                <option value="{{value}}">{{displayName}}</option>
                                            {{/options}}
                                        </select>
                                        <span class="ds_select-arrow" aria-hidden="true"></span>
                                    </div>

                                {{/compare}}
                            {{else}}
                                {{#compare type "checkbox"}}
                                    <div class="ds_checkbox">
                                        <input data-field="{{slug}}" id="{{slug}}" name="{{slug}}" class="ds_checkbox__input" type="checkbox" data-form="checkbox-{{slug}}">
                                        <label class="ds_checkbox__label" for="{{slug}}">{{title}}</label>
                                    </div>
                                {{else}}
                                    {{#compare format 'currency'}}<div class="ds_currency-wrapper  et_currency-wrapper--small">{{/compare}}
                                    <input
                                        id="{{../name}}-{{slug}}-new"
                                        {{#if validation}}data-validation="{{validation}}"{{/if}}
                                        type="text" data-field="{{slug}}" class="js-value  ds_input  et_input--small  {{#compare format 'currency'}}ds_input--fixed-4{{/compare}}  no-validate" data-form="textinput-id="{{../name}}-{{slug}}-new"">
                                    {{#compare format 'currency'}}</div>{{/compare}}
                                {{/compare}}
                            {{/if}}
                        </div>
                    </td>
                    {{/fields}}

                    <td>
                        <button class="ds_button  editable-table__add  js-add-button">Save</button>
                        <button class="ds_button  ds_button--cancel  editable-table__add  js-cancel-add-button">Cancel</button>
                    </td>
            </tr>
            {{/unless}}
        </tbody>
    </table>
</div>
