<h3>Extra terms</h3>
<div class="ds_accordion" data-module="ds-accordion">
    <button data-accordion="accordion-open-all" type="button" class="ds_link  ds_accordion__open-all  js-open-all">Open all <span class="visually-hidden">sections</span></button>

{{#with optionalTerms}}
    {{#if contentsAndConditions}}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-contents-and-condition" aria-labelledby="panel-contents-and-condition-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-contents-and-condition-heading" class="ds_accordion-item__title">
                Contents and condition
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-contents-and-condition"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-contents-and-condition">
            {{{paragraphify contentsAndConditions}}}

            <a href="#!/extra-terms/contents-and-condition/">Edit <span class="hidden">contents and condition</span></a>
        </div>
    </div>
    {{/if}}

    {{#if localAuthorityTaxesAndCharges}}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-local-authority" aria-labelledby="panel-local-authority-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-local-authority-heading" class="ds_accordion-item__title">
                Local authority taxes/charges
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-local-authority"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-local-authority">
            {{{paragraphify localAuthorityTaxesAndCharges}}}

            <a href="#!/extra-terms/local-authority-taxes/">Edit <span class="hidden">local authority taxes/charges</span></a>
        </div>
    </div>
    {{/if}}

    {{#if utilities}}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-utilities" aria-labelledby="panel-utilities-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-utilities-heading" class="ds_accordion-item__title">
                Utilities
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-utilities"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-utilities">
            {{{paragraphify utilities}}}

            <a href="#!/extra-terms/utilities/">Edit <span class="hidden">utilities</span></a>
        </div>
    </div>
    {{/if}}

    {{#if alterations}}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-alterations-1" aria-labelledby="panel-alterations-1-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-alterations-1-heading" class="ds_accordion-item__title">
                Alterations
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-alterations-1"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-alterations-1">
            {{{paragraphify alterations}}}

            <p>Any request for adaptations, auxiliary aids or services under section 37 of the Equality Act 2010 or section 52 of the Housing (Scotland) Act 2006 must be made in writing to the Landlord and any other owners of the common parts, where appropriate. Consent for alterations requested under this legislation should not be unreasonably withheld. If no consent is given for the adaptations you may appeal to the Tribunal in relation to section 52 (or sheriff court in relation to section 37) within 6 months of being notified of the decision. Before doing this, you may find it helpful to discuss your circumstance with your local Citizens Advice Bureau, Shelter Scotland or the local authority for the area where the Let Property is situated.</p>

            <a href="#!/extra-terms/alterations/">Edit <span class="hidden">alterations</span></a>
        </div>
    </div>
    {{/if}}

    {{#compare alterations ""}}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-alterations-2" aria-labelledby="panel-alterations-2-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-alterations-2-heading" class="ds_accordion-item__title">
                Alterations
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-alterations-2"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-alterations-2">
            <p>Any request for adaptations, auxiliary aids or services under section 37 of the Equality Act 2010 or section 52 of the Housing (Scotland) Act 2006 must be made in writing to the Landlord and any other owners of the common parts, where appropriate. Consent for alterations requested under this legislation should not be unreasonably withheld. If no consent is given for the adaptations you may appeal to the Tribunal in relation to section 52 (or sheriff court in relation to section 37) within 6 months of being notified of the decision. Before doing this, you may find it helpful to discuss your circumstance with your local Citizens Advice Bureau, Shelter Scotland or the local authority for the area where the Let Property is situated.</p>

            <a href="#!/extra-terms/alterations/">Edit <span class="hidden">alterations</span></a>
        </div>
    </div>
    {{/compare}}

    {{#if commonParts}}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-common-parts" aria-labelledby="panel-common-parts-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-common-parts-heading" class="ds_accordion-item__title">
                Common parts
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-common-parts"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-common-parts">
            {{{paragraphify commonParts}}}

            <a href="#!/extra-terms/common-parts/">Edit <span class="hidden">common parts</span></a>
        </div>
    </div>
    {{/if}}

    {{#if privateGarden}}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-private-garden" aria-labelledby="panel-private-garden-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-private-garden-heading" class="ds_accordion-item__title">
                Private garden
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-private-garden"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-private-garden">
            {{{paragraphify privateGarden}}}

            <a href="#!/extra-terms/private-garden/">Edit <span class="hidden">private garden</span></a>
        </div>
    </div>
    {{/if}}

    {{#if roof}}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-roof" aria-labelledby="panel-roof-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-roof-heading" class="ds_accordion-item__title">
                Roof
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-roof"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-roof">
            {{{paragraphify roof}}}

            <a href="#!/extra-terms/roof/">Edit <span class="hidden">roof</span></a>
        </div>
    </div>
    {{/if}}

    {{#if binsAndRecycling}}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-bins-and-recycling" aria-labelledby="panel-bins-and-recycling-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-bins-and-recycling-heading" class="ds_accordion-item__title">
                Bins and recycling
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-bins-and-recycling"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-bins-and-recycling">
            {{{paragraphify binsAndRecycling}}}

            <a href="#!/extra-terms/bins-and-recycling/">Edit <span class="hidden">bins and recycling</span></a>
        </div>
    </div>
    {{/if}}

    {{#if storage}}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-storage" aria-labelledby="panel-storage-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-storage-heading" class="ds_accordion-item__title">
                Storage
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-storage"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-storage">
            {{{paragraphify storage}}}

            <a href="#!/extra-terms/storage/">Edit <span class="hidden">storage</span></a>
        </div>
    </div>
    {{/if}}

    {{#if dangerousSubstances}}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-dangerous-substances" aria-labelledby="panel-dangerous-substances-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-dangerous-substances-heading" class="ds_accordion-item__title">
                Dangerous substances
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-dangerous-substances"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-dangerous-substances">
            {{{paragraphify dangerousSubstances}}}

            <a href="#!/extra-terms/dangerous-substances/">Edit <span class="hidden">dangerous substances</span></a>
        </div>
    </div>
    {{/if}}

    {{#if pets}}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-pets" aria-labelledby="panel-pets-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-pets-heading" class="ds_accordion-item__title">
                Pets
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-pets"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-pets">
            {{{paragraphify pets}}}

            <a href="#!/extra-terms/pets/">Edit <span class="hidden">pets</span></a>
        </div>
    </div>
    {{/if}}

    {{#if smoking}}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-smoking" aria-labelledby="panel-smoking-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-smoking-heading" class="ds_accordion-item__title">
                Smoking
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-smoking"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-smoking">
            {{{paragraphify smoking}}}

            <a href="#!/extra-terms/smoking/">Edit <span class="hidden">pets</span></a>
        </div>
    </div>
    {{/if}}
{{/with}}

{{#each additionalTerms}}
    {{#if title}}
    <div class="ds_accordion-item">
        <input type="checkbox" class="visually-hidden  ds_accordion-item__control" id="panel-{{add @index 13}}" aria-labelledby="panel-{{add @index 13}}-heading" />
        <div class="ds_accordion-item__header">
            <h3 id="panel-{{add @index 13}}-heading" class="ds_accordion-item__title">
                {{title}}
            </h3>
            <span class="ds_accordion-item__indicator"></span>
            <label class="ds_accordion-item__label" for="panel-{{add @index 13}}"><span class="visually-hidden">Show this section</span></label>
        </div>

        <div class="ds_accordion-item__body" id="accordion-item-{{add @index 13}}">
            {{{paragraphify content}}}

            <a href="#!/additional-terms/additional-term-{{add @index 1}}/">Edit <span class="hidden">{{title}}</span></a>
        </div>
    </div>
    {{/if}}
{{/each}}

</div>
