<section id="landlord-{{sectionNumber}}" class="fully-hidden form-step">
    <h2>Landlord: <span class="js-dynamic-title"></span></h2>
    <a href="#" class="js-remove-repeating-section repeating-container__remove">Remove this landlord</a>

    <div class="form-group">
        <label for="landlord-{{sectionNumber}}-name">Full name</label>
        <input type="text" id="landlord-{{sectionNumber}}-name" class="grey form-control" data-validation="requiredField">
    </div>

    <div id="landlord-{{sectionNumber}}-postcode-lookup" class="js-postcode-lookup">
        <div class="form-group">
            <div>
                <label for="landlord-{{sectionNumber}}-postcode-search">Postcode (UK only)</label>
                <input type="text" id="landlord-{{sectionNumber}}-postcode-search" class="grey form-control postcode-search input--small" data-validation="requiredPostcodeLookup" data-form="textinput-landlord-{{sectionNumber}}-postcode-search">
                <button class="js-find-address-button button button--primary button--medium button--no-margin">Find address</button>
            </div>

            <div class="postcode-results fully-hidden">
                <label for="landlord-{{sectionNumber}}-postcode-results">Please select your address</label>
                <div class="create-select__arrow">
                    <select class="create-select" id="landlord-{{sectionNumber}}-postcode-results">
                    </select>
                </div>
            </div>

            <div class="info-note note hidden"></div>
            <p>
                <a href="#" class="js-address-manual-link">Enter the address manually</a>
            </p>

            <div class="address-manual fully-hidden">
                <div class="input-wrapper" data-validation="requiredBuildingOrStreet">
                    <label for="landlord-{{sectionNumber}}-address-building">Building</label>
                    <input type="text" id="landlord-{{sectionNumber}}-address-building" class="grey form-control building" data-form="textinput-landlord-{{sectionNumber}}-address-building">

                    <label for="landlord-{{sectionNumber}}-address-street">Street address</label>
                    <input type="text" id="landlord-{{sectionNumber}}-address-street" class="grey form-control street" data-form="textinput-landlord-{{sectionNumber}}-address-street">
                </div>

                <label for="landlord-{{sectionNumber}}-address-town">Town or city</label>
                <input type="text" id="landlord-{{sectionNumber}}-address-town" class="grey form-control town" data-validation="requiredField" data-form="textinputlandlord-{{sectionNumber}}-address-town">

                <label for="landlord-{{sectionNumber}}-address-region">Region or province</label>
                <input type="text" id="landlord-{{sectionNumber}}-address-region" class="grey form-control region" data-form="textinput-landlord-{{sectionNumber}}-address-region">

                <label for="landlord-{{sectionNumber}}-postcode">Postcode</label>
                <input type="text" id="landlord-{{sectionNumber}}-postcode" class="grey form-control uppercase input--small postcode" data-form="textinput-landlord-{{sectionNumber}}-postcode">
            </div>
        </div>
    </div>
</section>
