{{#unless hideSubsectionNav}}
    <nav aria-label="Subsections in this section" class="ds_side-navigation  ds_no-margin--top">
        <input type="checkbox" class="fully-hidden  js-toggle-side-navigation" id="show-side-navigation" aria-controls="side-navigation-root">
        <label class="ds_side-navigation__expand  ds_link" for="show-side-navigation"><span class="visually-hidden">Show all</span> Pages in this section <span class="ds_side-navigation__expand-indicator"></span></label>

        <ul class="ds_side-navigation__list  ds_side-navigation__list--root"  id="side-navigation-root">
            {{#pages}}
                {{#unless hidden}}
                    {{#if disabled}}
                        <li class="ds_side-navigation__item  ds_side-navigation__item--disabled">
                            <span class="ds_side-navigation__link  ds_side-navigation__link--inactive">{{title}}</span>
                        </li>
                    {{else}}
                        <li class="ds_side-navigation__item">
                            {{#if visited}}
                                {{#if current}}
                                    <span class="ds_side-navigation__link  ds_current">{{title}}</span>
                                {{else}}
                                    <a href="#!/{{section}}/{{slug}}/" class="ds_side-navigation__link  js-validate-step">
                                    {{title}}
                                    </a>
                                {{/if}}
                            {{else}}
                                <span class="ds_side-navigation__link  ds_side-navigation__link--inactive">
                                    {{title}}
                                </span>
                            {{/if}}
                        </li>
                    {{/if}}
                {{/unless}}
            {{/pages}}
        </ul>
    </nav>
{{/unless}}
